Welcome to HillWood Empire! <%= @user.email %>
===============================================
You have successfully signed up to hillWoodempire a platform that connects you to the world of HillWood Empire.

To login to the site, just follow this link: <%= @url %>

Thanks for joining and have a great day!
Sincerely,

<em>hillwoodempire@gmail.com<em>
# <a href="https://hillwood-empire">hillwoodempire.ca</a></p>