<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Welcome to Hillwood Empire 🎉<%= @user.email %> </h3>
    <p>
    You have successfully signed up to hillwoodEmpire.org,
    a platform that connects you to the world of Hillwood Empire.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>
      # <em>support@hillwoodempire.org<em>
    </p>
    <a href="https://hillwood-empire">hillwoodempire.ca</a></p>
  </body>
</html>